version: '3.8'
services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    restart: unless-stopped
    networks:
      - ayu-net

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:80"
    restart: unless-stopped
    networks:
      - ayu-net

networks:
  ayu-net:
    driver: bridge
